[contenteditable] {
  outline: 0px solid transparent;
}
body {
  font-family: Tahoma;
}
td,
th {
  padding: 0;
}

td {
  text-align: center;
}
table {
  border-spacing: 0;
  border-collapse: seperate;
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  overflow: auto;
}

table th {
  font-weight: 600;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.time {
  position: fixed;
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #d85353;
  background-color: #d85353;
}
#time{
  font-family: 'Open Sans', sans-serif;
  color: black;
}
.allow{
  z-index: 1000;
  position:fixed;
  height: 25px;
  left: 0;
  width: auto;
  font-size: 10px;
  top: calc(100% - 25px);
  border: 1px solid #d85353;
  background-color: #d85353;
}
.allow:disabled{
  cursor: auto;
}